
@{ 
    Layout = "_Layout";
    ViewBag.Title = "Contact Us";
}


    <div class="container">
        <h1>Contact Us </h1>
        <p>Mail: code@academy.com.mk</p>
        <p>The number is 0800 666 548</p>
        
    </div>




